<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sunmi.innerprinter">
  <application>
  <receiver android:name="com.sunmi.innerprinter.PrinterReceiver" android:enabled="true">
      <intent-filter android:priority="1000">
        <!-- Out of paper abnormal -->
        <action android:name="woyou.aidlservice.jiuv5.OUT_OF_PAPER_ACTION" />  
        <!-- Print error -->
        <action android:name="woyou.aidlservice.jiuv5.ERROR_ACTION" />
        <!-- Can print -->
        <action android:name="woyou.aidlservice.jiuv5.NORMAL_ACTION" />
        <!-- Open the lid -->
        <action android:name="woyou.aidlservice.jiuv5.COVER_OPEN_ACTION" />
        <!-- Abnormal lid closing -->
        <action android:name="woyou.aidlservice.jiuv5.COVER_ERROR_ACTION" />
        <!-- Cutter abnormal 1-card cutter -->
        <action android:name="woyou.aidlservice.jiuv5.KNIFE_ERROR_ACTION_1" />
        <!-- Cutter abnormal 2-cutter repair -->
        <action android:name="woyou.aidlservice.jiuv5.KNIFE_ERROR_ACTION_2" />
        <!-- The print head is overheated abnormally -->
        <action android:name="woyou.aidlservice.jiuv5.OVER_HEATING_ACITON" />
        <!-- The printer firmware starts to upgrade -->
        <action android:name="woyou.aidlservice.jiuv5.FIRMWARE_UPDATING_ACITON" />
      </intent-filter>  
  </receiver>
  </application>
</manifest>